#load {
    width: 30vw;
    height: 32vw;
    background: url("../img/loading111.gif") no-repeat center;
    background-size: 100%;
    margin:0 auto;
    margin-top:70vw
}

.text {
    margin: 105px 0 0 55px;
    font-size: 18px;
    font-weight: bold;
}
.aaaa{
    background: url(../img/background2.png)!important;
}

body {
    background: url(../img/background.png);
}

#begin {
    max-width: 1080px;
    width: 100%;
    background: url(../img/start.png) left top no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
}
.colorS{
    color:orange;
}
#gan {
    text-align: center;
}

#click {
    z-index: 2;
    width: 40%;
    display: inline-block;
    padding-top: 131%;
    padding-bottom: 35%
}

#head1 {
    text-align: center;
}

.background3 {
    max-width: 1080px;
    margin: 0 auto;
}

#head1 img {
    display: inline-block;
    width: 75%;
    margin-top: 25%;
}

.ttt-1 {
    width: 90%;
    height: 31vw;
    background: url(../img/3-2.png) left top no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 5vw;
}

.timu {
    width: 85%;
    display: inline-block;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: 4vw;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10%;
    margin-left: 5%;
}

.ttt-2 {
    width: 85%;
    height: 13vw;
    background: url(../img/3-3.png) left top no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 6vw;
}

.a, .b, .c, .d {
    width: 82%;
    display: inline-block;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-size: 4vw;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 25%;
    left: 5%;
}

.ttt-3 {
    width: 85%;
    height: 13vw;
    background: url(../img/3-3.png) left top no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 3vw
}

#background4 {
    max-width: 1080px;
    margin: 0 auto;
}

#kong {
    height: 15vw;
}

#eee {
    margin-top: 50%;
    width: 80%;
    height: 128vw;
    background: url(../img/4-1.png) left top no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 5vw;
}

#head4 {
    text-align: center;
}

    #head4 img {
        position: relative;
        width: 75%;
        margin-top: 10%;
    }

.fenshu {
    text-align: center;
}

#fenshu {
    width: 100%;
    font-size: 16vw;
    color: orange;
    display: inline-block;
    margin-top: 15%;
}

#fff {
    margin-top: 15%;
}

#touxiang, #nicheng {
    display: inline-block;
}

    #touxiang img {
        margin-left: 10vw;
        width: 10vw;
        float: right;
    }

#nicheng {
    position: relative;
    color: orange;
    font-size: 7vw;
    bottom: 2.3vw;
}

#renshu, .span1, .span2, #baifenbi {
    display: inline-block;
    margin-top: 2vw;
}

.span1 {
    font-size: 4.8vw;
    color: #EE9A00;
    font-weight: 500;
}

#renshu, #baifenbi {
    font-size: 5.5vw;
    margin: 0 2vw;
}

.span2 {
    font-size: 4.6vw;
    color: black;
    margin-bottom: 5vw;
    font-weight: bold;
    margin: 0 2vw;
}

.span3 {
    font-size: 6vw;
    color: #EE9A00;
    font-weight: 1000;
    display: inline-block;
}

.ggg {
    width: 90%;
    margin: 0 auto;
}

#juzhong {
    text-align: center;
    margin-top: 4vw;
}

#erwei {
    width: 50%;
}

#ma {
    width: 15%;
}

.erweima {
    text-align: center;
}

#icon img {
    width: 9vw;
}

#true, #false {
    position: absolute;
    left: 80vw;
}

.a-img {
    top: 82.4vw;
}

.b-img {
    top: 98.5vw;
}

.c-img {
    top: 114.6vw;
}

.d-img {
    top: 130.3vw;
}

#audio img {
    width: 80px;
}

.btn-audio {
    position: absolute;
    top: 46vw;
    left: 70vw
}
